@import '@/assets/iranSansFont';

@tailwind base;
/* @tailwind components; */
@tailwind utilities;

body,
.SnackbarItem-message {
	font-family: iranSans;
}

img {
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
}

/*  * scrollbar styles  */
*::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: transparent;
}

*::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: rgb(236, 236, 236);
}

*::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #4d4d4d;
}
/*  * END scrollbar styles  */

button[type='submit'] {
	min-width: 8rem;
}

/*  * Mui table styles  */
.MuiTablePagination-root {
	@apply flex justify-center;
}
/*  * END Mui table styles  */
.MuiDialog-container .MuiPaper-root {
	max-width: 57rem;
}
