@import '@/assets/iranSansFont';

@tailwind base;
/* @tailwind components; */
@tailwind utilities;

body,
.SnackbarItem-message {
	font-family: iranSans;
}

/*  * scrollbar styles  */
*::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: transparent;
}

*::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: rgb(236, 236, 236);
}

*::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #4d4d4d;
}
/*  * END scrollbar styles  */

/*  * Mui table styles  */
.MuiTablePagination-root {
	@apply flex justify-center;
}
/*  * END Mui table styles  */
